<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>University Chatbot</title>
    <link rel="stylesheet" href="../static/styles/styles.css" />
  </head>
  <body>
    <!-- Main div that contains the chat header, chat content area, and chat message div -->
    <div class="chat-container">
      <!-- Chatbot header containing the logo and the header -->
      <div class="chat-header">
        <img
          src="../static/images/uni_bot_logo.webp"
          alt="University Chatbot Logo"
          class="chat-logo"
          style="margin-right: 2rem"
        />
        <h2>University Chatbot</h2>
      </div>
      <!-- Chatbot header containing the logo and the header -->

      <div class="chat-messages" id="chat-messages">
        <p>Welcome! How can I assist you today?</p>
        <button
          class="chat-button"
          id="button1"
          onclick="sendMessage(1, 'Entry Requirements and Pathways')"
        >
          Entry Requirements and Pathways
        </button>
        <button
          class="chat-button"
          id="button2"
          onclick="sendMessage(2, 'Course Information')"
        >
          Course Information
        </button>
        <button
          class="chat-button"
          id="button3"
          onclick="sendMessage(3, 'Applying for a Course')"
        >
          Applying for a Course
        </button>
      </div>

      <!-- Chatbot message area where the user can enter a message into the chatbot -->
      <div class="chat-input-container">
        <input
          type="text"
          class="chat-input"
          id="chat-input"
          placeholder="Type your message here..."
          onkeydown="checkEnter(event)"
          oninput="validateInput()"
        />
        <button
          class="send-button"
          id="send-button"
          onclick="sendMessage()"
          disabled
        >
          Send
        </button>
      </div>
      <!-- Chatbot message area where the user can enter a message into the chatbot -->
    </div>
    <!-- Main div that contains the chat header, chat content area, and chat message div -->

    <script src="../static/scripts/script.js"></script>
  </body>
</html>
